.battlecard {
	display: flex;
	flex-direction: column;

	width: 200px;

	> .image {
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		width: 200px;
		height: 150px;
		background-color: black;
	}

	&__text {
		position: relative;
		padding: 10px;
		padding-bottom: 20px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		border-top: solid 5px;

		h4 {
			margin: 0px;
			text-align: left;
			font-size: 18px;
		}

		&__type {
			position: absolute;
			top: -20px;
			right: 10px;

			padding: 5px;
			border-radius: 20px;
			object-position: center center;
		}

		&__stats {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			margin-top: 5px;

			p {
				width: 40%;
				margin: 0;
				margin-top: 5px;
				text-align: center;
			}
		}
	}
}
